body 
{
  margin:0 0 0 0; 
  background-color:#071924; 
  color:Black; 
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 12px;
}

a
{
  color: Black;
  font-weight: bold; 
  text-decoration: underline;
}

a:visited
{
  color: #9999ff;
}

.SectionHead
{
  color: #FEFFEF;
  background-color: #071924;
}

.Backlight {
  background-color: #FFEECA;
}

div.spacer
{
  clear: both;
}

div.TableRow
{
  clear: both;
}

div.TableCell
{
  float: left;
}

div.TableCellRight
{
  float: right;
}

div.Header
{
  clear: both;
  width: 100%;
  height: 94px;
  background: #8e9ccb url(TopBackground.jpg) left top repeat-x;
}

div.Header a
{
  border: solid 0 #6f7a9e;
  margin: 0;
}

div.Header img
{
  border: solid 0 #6f7a9e;
  margin: 0;
  padding: 0;
}

div.HeaderLinks
{
  position: absolute;
  left: 450px;
  width: 400px;
  top: 0px;
  height: 94px;
}

div.NavHead
{
  position: absolute;
  left: 0px;
  top: 5px;
  height: 17px;
}

div.NavHead a
{
  color: #3c4a7e;
  margin: 0;
  padding: 0px 10px 0px 10px;
}

div.NavHead a:hover  {
  background: #000066;
  color: #99ccff;
  margin: 0;
  padding: 0px 10px 0px 10px;
}

div.NavHead ul
{
  list-style: none;
  padding: 0px;
  margin: 0;
}

div.NavHead li
{
  float: left;
  padding: 0px;
  margin: 0;
}

div.Search
{
  color: #000000;
  position: absolute;
  left: 10px;
  top: 32px;
}

div.NavTab
{
  clear: both;
  padding-top: 5px;
  background: #6f7a9e;
  width: 100%;
  height: 17px;
  border-bottom-style: solid;
  border-bottom-color: #333366;
}

div.NavTab ul
{
  list-style: none;
  padding: 2px 0px 0px 0px;
  margin: 0;
}

div.NavTab li
{
  float: left;
  padding: 0px 0px 0px 0px;
  margin: 0;
}

div.NavTab a
{
  color: #FEFFEF;
  background: #000000 url(TabLeftBlackX6f7a9e.jpg) left top no-repeat;
  text-decoration: none;
  padding-left: 10px;
}

div.NavTab a span
{
  background: url(TabRightBlackX6f7a9e.jpg) right top no-repeat;
  padding-right: 10px
}

div.NavTab a:hover
{
  color: #FEFFEF;
  background: #333366 url(TabLeftX333366X6f7a9e.jpg) left top no-repeat;
  padding-left: 10px;
}

div.NavTab a:hover span
{
  background: url(TabRightX333366X6f7a9e.jpg) right top no-repeat;
  padding-right: 10px;
}

li.NavTabSel a
{
  color: #FEFFEF;
  background: #333366 url(TabLeftX333366X6f7a9e.jpg) left top no-repeat;
  text-decoration: none;
  padding-left: 10px;
  border-bottom-style: solid;
  border-bottom-color: #333366;
}

li.NavTabSel a span
{
  background: url(TabRightX333366X6f7a9e.jpg) right top no-repeat;
  padding-right: 10px
}

div.NavBar
{
  color: #99ccff;
  background-color: #333366;
  width: 100%;
  height: 17px;
}

div.NavBar a
{
  color: #99ccff;
  background-color: #333366;
  text-decoration: none;
  margin: 0;
  padding: 0px 10px 0px 10px;
}

div.NavBar a:hover  {
  color: #99ccff;
  background-color: #000066;
  text-decoration: none;
  margin: 0;
  padding: 0px 10px 0px 10px;
}

div.NavBar ul
{
  list-style: none;
  padding: 0px;
  margin: 0;
}

div.NavBar li
{
  float: left;
  padding: 0px;
  margin: 0;
}

div.NavTab
{
}

div.NavTabFoot a
{
  background: #000000;
  padding-right: 10px;
}

div.NavTabFoot a:hover  
{
  background: #333366;
  padding-right: 10px;
}

li.NavTabSelFoot a
{
  background: #333366;
  padding-right: 10px;
}

div.CopyRight
{
  clear: both;
  color: #FEFFEF;
}

div.ContentAd
{
  clear: both;
  padding-top: 10px;
}
div.AdSense
{
  width: 728px;
  height: 90px;
}
#PageWrap
{
  position: relative;
  min-width: 1017px;
  min-height: 100% !important; 
  !background-color: #FEFFEF; 
  margin: 0 auto;
}
#Content
{
  padding: 0 80px;
  padding-bottom: 5px;
  background-color: #FEFFEF; 
}

#PagePad       
{ 
  padding: 0 80px; 
  background: #FEFFEF; 
  padding-bottom: 5px; 
}
#MainSidebar       
{
  position: absolute; 
  left: 0;
  top: 0;
  width: 50px;
  bottom: 0;
  !background-image: url("{T_THEME_PATH}/images/shadow-left.png");
  !background-repeat: repeat-y;
  background-color: #071924;
  background-position: right;
  padding: 0 10px;
}
#SecondarySidebar  
{ 
  position: absolute;
  right: 0; 
  top: 0; 
  width: 50px; 
  bottom: 0; 
  background: #eee; 
  padding: 0 10px; 
  !background-image: url("{T_THEME_PATH}/images/shadow-right.png"); 
  !background-repeat: repeat-y; 
  background-color: #071924; 
  background-position: left; 
}
#ElementWrap 
{
	margin: 0 auto;
	padding: 0 0;
	min-width: 650px;
}
