ErrorDocument 404 /Master/FileNotFound.html
Action QHSTPage /QHScript/qhst.php
Action QHCCPage /QHScript/qhcc.php
Action QHPHPage /QHScript/qhph.php
Action HDCWGPage /QHScript/hdcwg.php
Action RemataPage /QHScript/remata.php
<FilesMatch "\.html?$">
  SetHandler QHSTPage
</FilesMatch>
<FilesMatch "^publishing.html$">
  SetHandler QHPHPage
</FilesMatch>
