td {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF}
td.Top {background-image:url('topbg.jpg')}
td.Left {background-image:url('left.jpg'); valign:top; width:11%}
td.Content {valign:top; width:95%}
body {left-margin:0; top-margin:0; background-color:#6f7a9e; link:#99ccff; margin-height:0; margin-width:0; color:#fffff; vlink:#9999ff}
a  {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #99CCFF; text-decoration: none}
h1 {font-family: Arial, Helvetica, sans-serif; font-size: 32px; font-weight: bold; color: #FFFFFF; text-decoration: none; text-align:center}
h2 {font-family: Arial, Helvetica, sans-serif; font-size: 28px; font-weight: bold; color: #FFFFFF; text-decoration: none; text-align:center}
ul {list-style-type: disc}
li {font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; color: #99CCFF; text-decoration: none; text-align:left; margin-left: 0.5in}
p.Copyright {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #FFFFFF; text-decoration: none; text-align:center; border-top:solid thin #99CCFF}
