div.ContentAd
{
  clear: both;
  padding-top: 10px;
}
div.AdSense
{
  position: relative;
  top: 0px;
  right: 0px;
  float: right;
  width: 120px;
  height: 160px;
}
div.ContentBox
{
  position: absolute;
  left: 5px;
  right: 125px;
}
div.Content
{
  clear: both;
}
