table
{
  border: solid 2px;
}
th
{
  text-align : center;
  border: solid 1px;
  margin: 0;
  padding: 0;
}
td
{
  text-align: right;
  border: solid 1px;
  margin: 0;
  padding: 0;
}
.AlignLeft
{
  text-align: left;
}


.BgBlue
{
  background-color: DarkSlateBlue;
}
.BgPurple
{
  background-color: #800080; /* Purple */;
}
.ColorRed
{
  color: 	#FF0080;
}
.FontBold
{
  font-weight: bold;
}
