body 
{
  margin:0 0 0 0; 
  background-color:#071924; 
  color:Black; 
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: medium;
}

img {
	border: none;
}

img.Center {
  display: block;
	margin: 0 auto;
}

img.Left {
	float: left;
	margin: 0 1ex 1ex 0;
}

img.Right {
	float: right;
	margin: 0 0 1ex 1ex;
}

a
{
  color: Black;
  font-weight: bold; 
  text-decoration: underline;
}

a:hover
{
  background-color: #FEE0C6; 
}

a:visited
{
  color: #444444; 
}

.HeadText,.Keyword
{
  font-weight: bold; 
}

.Title,.Foreign,.Emphasis
{
  font-style: italic; 
}

.IndentBlock
{
  margin-left: 1.5em;
}

p.Indent
{
  text-indent: 1.5em;
  margin-top: 0;
}

.Small
{
  font-size: small;
}

.xSmall
{
  font-size: x-small;
}

.CenterText
{
  text-align: center;
}

.CenterBlock
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.SectionHead
{
  color: #FEFFEF;
  background-color: #071924;
  font-weight: bold;
  text-align: center;
}

.Backlight {
  background-color: #FFEECA;
}

div.spacer
{
  clear: both;
}

hr.HorizontalDividerBar
{
  height: .5em;
  width: 100%;
  background-color: #071924;
  margin: .25em 0;
}

hr.HorizontalDividerBarThinBlue
{
  height: .1em;
  width: 100%;
  background-color: #9999CC;
  margin: .25em 0;
}
hr.HorizontalDividerBarThinGrey
{
  height: .1em;
  width: 100%;
  background-color: #999999;
  margin: .25em 0;
}

div.TableRow
{
  clear: both;
}

div.TableCell
{
  float: left;
}

div.TableCellRight
{
  float: right;
}

#PageWrap
{
  position: relative;
  min-width: 1017px;
  min-height: 100% !important; 
  margin: 0 auto;
}

#ContentWrap 
{
  position: relative;
	margin: 0;
	padding: 0;
  overflow: hidden;
}

#Content
{
  position: relative;
  margin: .5em 0;
  padding: 0 20px; 
  overflow: hidden;
}

#PagePad       
{ 
  background-color: #FEFFEF; 
  padding: 0 0px 0 0px; 
  padding-bottom: 5px; 
}

#MainSidebar  
{
  position: absolute; 
  left: 0;
  top: 0;
  width: 160px;
  bottom: 0;
  background-image: url("shadow-left.png");
  background-repeat: repeat-y;
  background-color: #071924;
  background-position: right;
  padding: 0 10px;
}

#SecondarySidebar  
{ 
  position: absolute;
  right: 0; 
  top: 0; 
  width: 50px; 
  bottom: 0; 
  background: #eee; 
  padding: 0 10px; 
  background-image: url("shadow-right.png"); 
  background-repeat: repeat-y; 
  background-color: #071924; 
  background-position: left; 
}

#ElementWrap 
{
  position: relative;
	margin: 0 auto;
	padding: 0 0;
	min-width: 650px;
}

#Header
{
  width: 100%;
  background: #222222;
  color: #FFEECA;
  overflow: hidden;
}

#HeaderLeft
{
  float: left;
}

#HeaderLeft a:hover
{
  background-color: transparent;
}

#HeaderLeftLogo
{
  float: left;
  height: 50px;
}

#HeaderLeftLogo img
{
  height: 100%;
  width: auto;
}

#HeaderLeftTitle
{
  float: left;
  padding: 0 20px;
  font-size: xx-large;
}

#HeaderRight
{
  float: right;
  padding-right: 15px;
  font-size: small;
}

div.NavHead
{
  float: left;
  clear: none;
  margin: 0px 5px;
  font-size: small;
}

div.NavHead a
{
  margin: 0;
  padding: 0px 10px 0px 10px;
  color: #FFEECA;
}

div.NavHead a:hover  {
  background-color: #FFEECA;
  color: Black;
  margin: 0;
  padding: 0px 10px 0px 10px;
}

div.NavHead ul
{
  list-style: none;
  padding: 0px;
  margin: 0;
}

div.NavHead li
{
  float: left;
  padding: 0px;
  margin: 0;
}

#Search
{
  color: #FFEECA;
  overflow: hidden;
}

div.NavTab
{
  clear: both;
  padding-top: 5px;
  background: #222222;
  width: 100%;
  height: 19px;
  font-size: small;
}

div.NavTab ul
{
  list-style: none;
  padding: 2px 0px 0px 0px;
  margin: 0;
}

div.NavTab li
{
  float: left;
  padding: 0px 0px 0px 0px;
  margin: 0;
}

div.NavTab a
{
  color: #FEFFEF;
  background: #000000 url(TabLeftBlackX222222.png) left top no-repeat;
  text-decoration: none;
  padding-left: 10px;
}

div.NavTab a span
{
  background: url(TabRightBlackX222222.png) right top no-repeat;
  padding-right: 10px
}

div.NavTab a:hover
{
  color: #FEFFEF;
  background: #236e99 url(TabLeftX236e99X222222.png) left top no-repeat;
  padding-left: 10px;
  border-bottom-style: solid;
  border-bottom-color: #236e99;
}

div.NavTab a:hover span
{
  background: url(TabRightX236e99X222222.png) right top no-repeat;
  padding-right: 10px;
}

li.NavTabSel a
{
  color: #FEFFEF;
  background: #236e99 url(TabLeftX236e99X222222.png) left top no-repeat;
  text-decoration: none;
  padding-left: 10px;
  border-bottom-style: solid;
  border-bottom-color: #236e99;
}

li.NavTabSel a span
{
  background: url(TabRightX236e99X222222.png) right top no-repeat;
  padding-right: 10px
}

div.NavBar
{
  color: #FEFFEF;
	background: #236e99;
  width: 100%;
  overflow: hidden;
  font-size: small;
  padding: 2px 0;
}

div.NavBar a
{
  color: #FEFFEF;
  text-decoration: none;
  margin: 0;
  padding: 0px 10px 0px 10px;
}

div.NavBar a:hover  {
  color: #FEFFEF;
  background-color: #222222;
  text-decoration: none;
  margin: 0;
  padding: 0px 10px 0px 10px;
}

div.NavBar ul
{
  list-style: none;
  padding: 0px;
  margin: 0;
}

div.NavBar li
{
  float: left;
  padding: 0px;
  margin: 0;
}

div.NavTab
{
}

div.NavTabFoot a
{
  background: #000000;
  padding-right: 10px;
}

div.NavTabFoot a:hover  
{
  background: #236e99;
  padding-right: 10px;
}

li.NavTabSelFoot a
{
  background: #236e99;
  padding-right: 10px;
}

#CopyRight
{
  clear: both;
  font-size: small;
}

div.AdWrap
{
  clear: both;
  width: 100%;
  background-color: #222222;
}

div.AdSense
{
  width: 728px;
  height: 90px;
  margin:0 auto;
}

div.AdWrapSide
{
  clear: none;
  float: left;
  height: 100%;
  background-color: #222222;
}

div.AdSenseSide
{
  width: 160px;
  height: 600px;
  margin:auto 0;
}

/* Google blog feed control */
.googleFeedControl {
  background-color: #FFEECA;
}

.gfc-tabHeader.gfc-tabhActive {
  border-left: 1px solid #FFEECA;
  border-right: 1px solid #FFEECA;
  border-top: 2px solid #FFEECA;
  font-weight: bold;
  font-size: small; 
  color: Black;
  background: #FFEECA;
  }

.gfc-tabHeader.gfc-tabhInactive {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 2px solid black;
  font-size: small; 
  color: #FEFFEF;
  background: #071924;
  }

.gf-result .gf-author,
.gf-result .gf-spacer,
.gf-result .gf-relativePublishedDate {
  font-size: small;
  color: Blue;
  display : inline;
  }
.gf-result .gf-title,
.gf-result .gf-snippet {
  font-size: small;
}

/* Baptist Press */
#BpHead
{
  position: relative;
  color: #FEFFEF;
  background-color: #071924;
  font-weight: bold;
  padding: .4em;
}

#BpHead a:hover
{
  background-color: transparent;
}

#BpHeadLogo
{
}

#BpHeadTitle
{
  position: absolute;
  top: .5em;
  left: 3em;
}

#BpHeadDate
{
  position: absolute;
  right: .4em;
  bottom: 1em;
  font-size: x-small;
  float: right;
  text-align: right;
}

#BpFeed {
  background-color: #FFEECA;
  font-size: x-small;
  padding: .5em;
}

#BpFeed li
{
  list-style-type: none;
}

/* Main QHST page columns*/
#Column1
{
  float: left;
  width: 33%;
}
#Column2
{
  float: left;
  width: 33%;
  margin-left: .5%;
}
#Column3
{
  float: right;
  width: 33%;
}
