
RewriteEngine on

RewriteCond %{HTTP_HOST} ^quartzhillcommunitychurch\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.quartzhillcommunitychurch\.org$
RewriteRule ^/?$ "http\:\/\/www\.theology\.edu\/QHCC" [R=301,L]

