div.announcements
{
  clear: both;
}

div.calendar
{
  float: left;
  width: 320px;
  height: 640px;
}

div.events
{
  position: relative;
}

div.annThumb
{
  float: left;
  width: 140px;
  height: 140px;
}

div.ann1A
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 0px;
  top: 40px;
}

div.ann1B
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 150px;
  top: 40px;
}

div.ann1C
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 300px;
  top: 40px;
}

div.ann1D
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 450px;
  top: 40px;
}

div.ann2A
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 0px;
  top: 190px;
}

div.ann2B
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 150px;
  top: 190px;
}

div.ann2C
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 300px;
  top: 190px;
}

div.ann2D
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 450px;
  top: 190px;
}

div.ann3A
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 0px;
  top: 340px;
}

div.ann3B
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 150px;
  top: 340px;
}

div.ann3C
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 300px;
  top: 340px;
}

div.ann3D
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 450px;
  top: 340px;
}

div.ann4A
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 0px;
  top: 490px;
}

div.ann4B
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 150px;
  top: 490px;
}

div.ann4C
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 300px;
  top: 490px;
}

div.ann4D
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 450px;
  top: 490px;
}

div.ann1A5
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 75px;
  top: 40px;
}

div.ann1B5
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 225px;
  top: 40px;
}

div.ann1C5
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 375px;
  top: 40px;
}

div.ann2A5
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 75px;
  top: 190px;
}

div.ann2B5
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 225px;
  top: 190px;
}

div.ann2C5
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 375px;
  top: 190px;
}

div.ann3A5
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 75px;
  top: 340px;
}

div.ann3B5
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 225px;
  top: 340px;
}

div.ann3C5
{
  width: 140px;
  height: 140px;
  position: absolute;
  left: 375px;
  top: 340px;
}

div.adate
{
  float: left;
  clear: both;
}
